snippet fmpl "from matplotlib import ppyplot" b
from matplotlib import pyplot
$0
endsnippet

snippet fz "from zam import" b
from zam import ${1:protein}
endsnippet

snippet mpl "matplotlib"
matplotlib.$0
endsnippet

snippet np "numpy"
numpy.$0
endsnippet

snippet pp "pyplot"
pyplot.$0
endsnippet

snippet norm "numpy.linalg.norm"
numpy.linalg.norm($0)
endsnippet

snippet todo "TODO item" b
# TODO: `echo $USER` `!v strftime("%B %d, %Y")`: ${1:todo item}
endsnippet

snippet enum "Enumerate visual"
enumerate(${VISUAL}$0)
endsnippet

